In [1]:
# # Get the column indices
# cols = pd.Series(data.columns)
# for dup in cols[cols.duplicated()].unique(): 
#     print(dup)
#     print(cols[cols == dup].index.tolist())

# **Data Collection**

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
# set max_columns to None
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', 120)

data = pd.read_csv('../data/data_daegu_apartment.csv')

# **Exploratory Data Analysis (EDA)**

### Skimming Data

In [4]:
# show data description
print(f"Jumlah Baris,Kolom : {data.shape}")
all_duplicate_data = data[data.duplicated(keep=False)]                                          # keep=False, semua data duplikat ditampilkan
duplicate_data = data[data.duplicated()]                                    
print(f"Jumlah Seluruh Data Duplikat (Ditambah Data Aslinya) : {len(all_duplicate_data)}")
print(f"Jumlah Data Duplikat Yang Dihapus : {len(duplicate_data)}")
print(f"Jumlah Data Duplikat Yang Terjaga : {len(all_duplicate_data) - len(duplicate_data)}")
cols =['HallwayType', 'TimeToSubway', 'SubwayStation',
       'N_FacilitiesNearBy(ETC)', 'N_FacilitiesNearBy(PublicOffice)',
       'N_SchoolNearBy(University)', 'N_Parkinglot(Basement)', 'YearBuilt',
       'N_FacilitiesInApt', 'Size(sqf)', 'SalePrice']
pd.DataFrame({
    'datatype': data[cols].dtypes.values,
    'null': data[cols].isna().sum(),
    '%null': data[cols].isna().mean().values * 100,
    'negative': [data[col][data[col] < 0].sum() if data[col].dtype == 'int64' or data[col].dtype == 'float64' else 0 for col in cols],
    '%negative': [data[col][data[col] < 0].sum() / data.shape[0] * 100 if data[col].dtype == 'int64' or data[col].dtype == 'float64' else 0 for col in cols],
    'min_value': [data[col].min() if data[col].dtype == 'int64' or data[col].dtype == 'float64' else None for col in cols],
    'max_value': [data[col].max() if data[col].dtype == 'int64' or data[col].dtype == 'float64' else None for col in cols],
    'n_unique': data[cols].nunique().values,
    'sample_unique': [data[col].unique() for col in cols]}
)

Jumlah Baris,Kolom : (4123, 11)
Jumlah Seluruh Data Duplikat (Ditambah Data Aslinya) : 2100
Jumlah Data Duplikat Yang Dihapus : 1422
Jumlah Data Duplikat Yang Terjaga : 678

,datatype,null,%null,negative,%negative,min_value,max_value,n_unique,sample_unique
HallwayType,object,0,0.0,0.0,0.0,NaN,NaN,3,"[terraced, mixed, corridor]"
TimeToSubway,object,0,0.0,0.0,0.0,NaN,NaN,5,"[0-5min, 10min~15min, 15min~20min, 5min~10min, no_bus_stop_nearby]"
SubwayStation,object,0,0.0,0.0,0.0,NaN,NaN,8,"[Kyungbuk_uni_hospital, Chil-sung-market, Bangoge, Sin-nam, Banwoldang, no_subway_nearby, Myung-duk, Daegu]"
N_FacilitiesNearBy(ETC),float64,0,0.0,0.0,0.0,0.0,5.0,4,"[0.0, 1.0, 5.0, 2.0]"
N_FacilitiesNearBy(PublicOffice),float64,0,0.0,0.0,0.0,0.0,7.0,8,"[3.0, 5.0, 7.0, 1.0, 4.0, 2.0, 6.0, 0.0]"
N_SchoolNearBy(University),float64,0,0.0,0.0,0.0,0.0,5.0,6,"[2.0, 1.0, 3.0, 4.0, 5.0, 0.0]"
N_Parkinglot(Basement),float64,0,0.0,0.0,0.0,0.0,1321.0,20,"[1270.0, 0.0, 56.0, 798.0, 536.0, 605.0, 203.0, 108.0, 1174.0, 930.0, 475.0, 184.0, 400.0, 218.0, 1321.0, 524.0, 76...."
YearBuilt,int64,0,0.0,0.0,0.0,1978.0,2015.0,16,"[2007, 1986, 1997, 2005, 2006, 2009, 2014, 1993, 2013, 2008, 2015, 1978, 1985, 1992, 2003, 1980]"
N_FacilitiesInApt,int64,0,0.0,0.0,0.0,1.0,10.0,9,"[10, 4, 5, 7, 2, 9, 8, 1, 3]"
Size(sqf),int64,0,0.0,0.0,0.0,135.0,2337.0,89,"[1387, 914, 558, 1743, 1334, 572, 910, 288, 1131, 843, 1160, 644, 829, 743, 868, 1629, 1690, 1273, 1483, 156, 1412, ..."
SalePrice,int64,0,0.0,0.0,0.0,32743.0,585840.0,838,"[346017, 150442, 61946, 165486, 311504, 118584, 326548, 143362, 172566, 99823, 211504, 305309, 145132, 209734, 16814..."

In [5]:
# Loop Unique Value Every Column Except Size(sqf) and SalePrice
for col in data.columns:
    if col not in ['Size(sqf)', 'SalePrice']:
        print(f"Unique Value {col} : {data[col].unique()}")

Unique Value HallwayType : ['terraced' 'mixed' 'corridor']
Unique Value TimeToSubway : ['0-5min' '10min~15min' '15min~20min' '5min~10min' 'no_bus_stop_nearby']
Unique Value SubwayStation : ['Kyungbuk_uni_hospital' 'Chil-sung-market' 'Bangoge' 'Sin-nam'
 'Banwoldang' 'no_subway_nearby' 'Myung-duk' 'Daegu']
Unique Value N_FacilitiesNearBy(ETC) : [0. 1. 5. 2.]
Unique Value N_FacilitiesNearBy(PublicOffice) : [3. 5. 7. 1. 4. 2. 6. 0.]
Unique Value N_SchoolNearBy(University) : [2. 1. 3. 4. 5. 0.]
Unique Value N_Parkinglot(Basement) : [1270.    0.   56.  798.  536.  605.  203.  108. 1174.  930.  475.  184.
  400.  218. 1321.  524.   76.   79.  181.   18.]
Unique Value YearBuilt : [2007 1986 1997 2005 2006 2009 2014 1993 2013 2008 2015 1978 1985 1992
 2003 1980]
Unique Value N_FacilitiesInApt : [10  4  5  7  2  9  8  1  3]

In [6]:
# Ordinal Encoding Column HallwayType
data['HallwayType'] = data['HallwayType'].map({'terraced': 3, 'corridor': 1, 'mixed': 2})
data['HallwayType'].value_counts().sort_index()

1     464
2    1131
3    2528
Name: HallwayType, dtype: int64

In [7]:
# Ordinal Encoding Column TimeToSubway
data['TimeToSubway'] = data['TimeToSubway'].map({'0-5min': 1,'5min~10min': 2,'10min~15min': 3,'15min~20min': 4, 'no_bus_stop_nearby': 0})
data['TimeToSubway'].value_counts().sort_index()

0     171
1    1953
2     787
3     583
4     629
Name: TimeToSubway, dtype: int64

In [8]:
# Ordinal Encoding Column SubwayStation
data['SubwayStation'] = data['SubwayStation'].map({'Kyungbuk_uni_hospital': 1, 'Chil-sung-market':2 , 'Bangoge': 3, 'Sin-nam': 4,
       'Banwoldang': 5, 'no_subway_nearby': 0, 'Myung-duk': 6, 'Daegu': 7})
data['SubwayStation'].value_counts().sort_index()

0     290
1    1152
2      74
3     502
4     467
5     529
6    1044
7      65
Name: SubwayStation, dtype: int64

In [9]:
# Ordinal Encoding Column N_FacilitiesNearBy(ETC)
data['N_FacilitiesNearBy(ETC)'] = data['N_FacilitiesNearBy(ETC)'].map({1: 2, 0: 1, 2: 3, 5: 4})
data['N_FacilitiesNearBy(ETC)'].value_counts().sort_index()

1    1828
2     631
3     330
4    1334
Name: N_FacilitiesNearBy(ETC), dtype: int64

In [10]:
# Ordinal Encoding Column N_FacilitiesNearBy(PublicOffice)
data['N_FacilitiesNearBy(PublicOffice)'] = data['N_FacilitiesNearBy(PublicOffice)'].map({0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8})
data['N_FacilitiesNearBy(PublicOffice)'].value_counts().sort_index()

1      46
2     291
3     530
4     844
5     254
6    1252
7     451
8     455
Name: N_FacilitiesNearBy(PublicOffice), dtype: int64

In [11]:
# Ordinal Encoding Column N_SchoolNearBy(University)
data['N_SchoolNearBy(University)'] = data['N_SchoolNearBy(University)'].map({0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6})
data['N_SchoolNearBy(University)'].value_counts().sort_index()

1      97
2     833
3    1359
4     396
5     606
6     832
Name: N_SchoolNearBy(University), dtype: int64

In [12]:
# Grouping Column N_Parkinglot(Basement) With Range 200 Each
data['N_Parkinglot(Basement)'] = data['N_Parkinglot(Basement)'].apply(lambda x: int((x//200)+1))
data['N_Parkinglot(Basement)'].value_counts().sort_index()

1    1070
2     258
3    1101
4     715
5     322
6     159
7     498
Name: N_Parkinglot(Basement), dtype: int64

In [13]:
# Grouping Column YearBuilt With Range 10 Each
data['YearBuilt'] = data['YearBuilt'].apply(lambda x: (x//10)-196)
data['YearBuilt'].value_counts().sort_index()

1      49
2     328
3     844
4    2196
5     706
Name: YearBuilt, dtype: int64

In [14]:
# Grouping Column Size(sqf) With Range 500 Each
data['Size(sqf)'] = data['Size(sqf)'].apply(lambda x: (x//500)+1)
data['Size(sqf)'].value_counts().sort_index()

1     225
2    2705
3     827
4     302
5      64
Name: Size(sqf), dtype: int64

In [15]:
# Grouping Column SalePrice With Range 10000 Each
data['SalePrice'] = data['SalePrice'].apply(lambda x: (x//100000)+1)
data['SalePrice'].value_counts().sort_index()

1     578
2    1315
3    1279
4     708
5     212
6      31
Name: SalePrice, dtype: int64

In [16]:
# Ordinal Encoding Column N_FacilitiesInApt
data['N_FacilitiesInApt'] = data['N_FacilitiesInApt'].map({1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 7:6, 8:7, 9:8, 10:9})
data['N_FacilitiesInApt'].value_counts().sort_index()

1      41
2      50
3     477
4    1001
5     810
6     838
7     203
8     159
9     544
Name: N_FacilitiesInApt, dtype: int64

In [17]:
# data to csv
data.to_csv('../data/data_daegu_apartment_preprocessed.csv', index=False)