In [1]:
import requests
from pycaret.regression import *
from Requirement import *

# Set url of the model that has been deployed
url = "http://127.0.0.1:8000/prediction"

# define data
payload = {
    "data": [
    {
    'HallwayType': 'terraced',
    'TimeToSubway': '0-5min',
    'SubwayStation': 'Banwoldang',
    'N_FacilitiesNearBy(ETC)': 0.0,
    'N_FacilitiesNearBy(PublicOffice)': 4.0,
    'N_SchoolNearBy(University)': 1.0,
    'N_Parkinglot(Basement)': 605.0,
    'YearBuilt': 2007,
    'N_FacilitiesInApt': 5,
    'Size(sqf)': 1334,
    'SalePrice': 357522
    },
    ],
}

# Send a POST request to the URL
result = requests.post(url, json=payload)

# Show the response
print(result.json())

{'detail': [{'loc': ['body', 'data', 0, 'N_FacilitiesNearBy_ETC'], 'msg': 'field required', 'type': 'value_error.missing'}, {'loc': ['body', 'data', 0, 'N_FacilitiesNearBy_PublicOffice'], 'msg': 'field required', 'type': 'value_error.missing'}, {'loc': ['body', 'data', 0, 'N_SchoolNearBy_University'], 'msg': 'field required', 'type': 'value_error.missing'}, {'loc': ['body', 'data', 0, 'N_Parkinglot_Basement'], 'msg': 'field required', 'type': 'value_error.missing'}, {'loc': ['body', 'data', 0, 'Size_sqf'], 'msg': 'field required', 'type': 'value_error.missing'}]}

In [15]:
data = pd.DataFrame(payload['data'])
data

,HallwayType,TimeToSubway,SubwayStation,N_FacilitiesNearBy(ETC),N_FacilitiesNearBy(PublicOffice),N_SchoolNearBy(University),N_Parkinglot(Basement),YearBuilt,N_FacilitiesInApt,Size(sqf),SalePrice
0,terraced,0-5min,Banwoldang,0.0,4.0,1.0,605.0,2007,5,1334,357522

In [16]:
mdl = load_model('../model/final_model') 

predict_model(mdl, data=data)

Transformation Pipeline and Model Successfully Loaded

,HallwayType,TimeToSubway,SubwayStation,N_FacilitiesNearBy(ETC),N_FacilitiesNearBy(PublicOffice),N_SchoolNearBy(University),N_Parkinglot(Basement),YearBuilt,N_FacilitiesInApt,Size(sqf),SalePrice,prediction_label
0,terraced,0-5min,Banwoldang,0.0,4.0,1.0,605.0,2007,5,1334,357522,336163.591737